@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* small */
  font-family: 'Albert Small';
  src: url('./assets/fonts/AlbertSans-VariableFont_wght.ttf');
}
@font-face {
  /* 400 */
  font-family: 'Albert';
  src: url('./assets/fonts/AlbertSans-Regular.ttf');
}

@font-face {
  /* 600 */
  font-family: 'Albert Semi Bold';
  src: url('./assets/fonts/AlbertSans-SemiBold.ttf');
}

@font-face {
  /* 700 */
  font-family: 'Albert Bold';
  src: url('./assets/fonts/AlbertSans-Bold.ttf');
}

@font-face {
  /* 800 */
  font-family: 'AlbertExtra';
  src: url('./assets/fonts/AlbertSans-ExtraBold.ttf');
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
